.side-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 100%;
    box-shadow: 0 5px 15px rgba(94, 120, 247, 0.437)  ;
    border-radius: 20px;
    padding: 20px;

    
}